@use "../../config/variables" as *;

.details-header .layout-container {
    @include flex(row, wrap, center, space-between, 20px);
}

.location-meta {
    @include flex(column, nowrap, flex-start, center, 4px);

    h1 {
        font-size: 2.2rem;
        font-weight: 700;
        color: $color-text-primary;
    }

    .coords {
        font-size: 0.9rem;
        color: $color-text-subtle;
    }
}

.sun-times {
    @include flex(row, nowrap, center, center, 14px);

    span {
        font-size: 0.85rem;
        padding: 8px 14px;

        border-radius: $border-radius;

        background: $color-bg-element;
        color: $color-text-muted;

        @include box-shadow(0.12);
    }
}

@media (max-width: 768px) {
    .details-header .layout-container {
        flex-direction: column;
        text-align: center;
    }
}